# 1. DENY EVERYTHING
*

# 2. ALLOW DIRECTORY TRAVERSAL
# We must allow git to "look inside" directories, otherwise it can't 
# find the specific files we want to whitelist below.
!*/

# 3. GLOBAL WHITELIST (Top-level files)
# Un-ignore specific files in the home root
!.gitignore
!.bashrc
!.inputrc

# 4. FOLDER WHITELIST
# Un-ignore specific configuration folders entirely
!.config/nvim/*
!.config/fish/*
!.config/ghostty/*

# Ignore secrets and similar files
secrets.*
.config/nvim/lazy-lock.json
